/*We put a margin of 20px for the top and bottom and 0 for left and right*/
.event{
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 13px;
}

.img{
    flex:1;
    margin: 10px;
}

.info{
    flex:2;
}
/*Responsive*/
@media(max-width:600px){
    .event{
        flex-direction: column;
        text-align: center;
    }

    .info{
        margin-bottom: 20px;
    }
}