.modal {
  background: white;
  width: 500px;
  height: 350px;
  border-radius: 15px;
  padding: 20px;
  z-index: 100;
}

.header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

.body {
  padding-top: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}